@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: "Inter Variable";
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: "IBM Plex Mono";
  /* Generated accent color palettes. */
  --color-accent-200: #90dbbc;
  --color-accent-600: #00543c;
  --color-accent-900: #003d2a;
  --color-accent-950: #002c1e;
  /* Generated gray color palettes. */
  --color-gray-100: #f6f6f6;
  --color-gray-200: #edeeed;
  --color-gray-300: #c1c2c2;
  --color-gray-400: #898c8b;
  --color-gray-500: #565958;
  --color-gray-700: #363938;
  --color-gray-800: #252726;
  --color-gray-900: #171818;
}
